.formulariocontacto {
    background-color: blueviolet;
    text-align: center;
    font-family: Merriweather;
  }
  
  .cajacontacto{
    border: 1px rgb(145, 145, 228);
    background-color: rgb(196, 91, 228);
    color: black;
    font-weight: bold;
    width: 200px;
    height: 100px;
    text-align: center;
    margin: 5px;
    align-content: center;
    font-family: Merriweather;
}

  