.recomendaciones{
    margin: 20px;
    text-align: center;
    font-family: Merriweather;
    padding: 30px;
    font-size: 20px;

}

ul{
    list-style-type: none;
}

h3{
    margin: 20px;
    font-size: 20px;
    text-align: center;
    font-family: Merriweather;
    background-color: blueviolet;
    -webkit-animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;
}


 @-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}