

body{
    font-family: fantasy;
    margin: 0;
    text-align: center;
    min-height: 100%;
}


a{
    text-decoration: none;
    color: black;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}


nav a:hover{
    color: white;
}

.logo{
   display: flex;
   align-items: center;
   font-size: 30px;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.logo img{
    height: 80px;
    margin-right: 10px;
}



.bienvenida{
    margin: 20px;
    font-size: 20px;
    font-family: Merriweather;
    
}

.imageninicio{
    width: 75%   
    }

footer{
    text-align: center;
    background-image: url("../img/fondo\ violeta.jpg");
    font-family: Merriweather;
    padding: 20px;
}

.formulariocontacto{
    background-color: blueviolet;
    text-align: center;
}

.autoconocimiento{
    margin: 20px;
    font-size: 20px;
    text-align: center;
    font-family: Merriweather;
}

h2{
    margin: 20px;
    font-size: 25px;
    text-align: center;
    font-family: Merriweather;
    background-image: url("../img/fondo\ violeta.jpg");
}

.recomendaciones{
    margin: 20px;
    text-align: center;
    font-family: Merriweather;
    padding: 30px;
    font-size: 20px;

}

ul{
    list-style-type: none;
}

h3{
    margin: 20px;
    font-size: 20px;
    text-align: center;
    font-family: Merriweather;
    background-color: blueviolet;
}

.cabeceranumerologia{
    margin: 20px;
    font-size: 20px;
    text-align: center;
    font-family: Merriweather;
}

.grid-container > * {
    box-shadow: -1px 1px 7px 0px rgb(196, 172, 218);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    gap: 10px

}

.grid-container{
    display: grid;
    grid-template-areas: 
    "navbar"
    "main"
    "sidebar"
    "footer";
}

.navbar{
    grid-area: navbar;
}

.aside{
    grid-area: sidebar;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
}


.caja{
    border: 1px rgb(124, 124, 223);

    color: black;
    width: 250px;
    height: 100px;
    margin: 20px;
    text-align: center;
    align-content: center;
}


.cajacontacto{
    border: 1px rgb(145, 145, 228);
    background-color: rgb(196, 91, 228);
    color: black;
    font-weight: bold;
    width: 200px;
    height: 100px;
    text-align: center;
    margin: 5px;
    align-content: center;
}

.flex-container{
    display: flex;
    padding: 20px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    
    
    
}

.imagenes{
    width: 75vw;
    max-width: 500px;
    min-width: 320px;
    margin: auto;
}

@media(min-width:480px){
    .grid-container{
        grid-template-columns: 300px auto;
        flex-direction: column;
        grid-template-areas: 
        "navbar navbar"
        "sidebar main"
        "footer footer"
        ;
    }
    
    
}@media (max-whidth:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
    
}